@import "style.css.scss";
body{
  background:#222;
  font-family:"exo","YouYuan","幼圆","Arial",sans-serif;
}
.wrap{
  width:800px;
  margin:20px auto;
}
//header
header{
  color:#fff;
  text-align:center;
  position:relative;
  h2{
    margin:20px 0 0px 0;
    font-size:55px;
    color:$blue;
  }
  h6{
    font-size:16px;
    margin:-5px 0 4px 0 ;
    font-family:"exo-light";
    color:$blue;
  }
  .logo{
    display:block;
    $width:16px;
    $height:24px;
    width:$width;
    height:$height;
    background:url(../img/alien.png)no-repeat center center;
    left:50%;
//    top:65px;
    position:absolute;
    background-size:contain;
    margin-left:- $width / 2 ;
  }
}
//operate
.operate-area{
  margin:15px 30px 10px;
  background:#333;
  padding:3px 20px 21px;
  @include box-sizing;
  @include border-radius(10px);
  &>p{
    color:rgba(255,255,255,0.7);
    font-size:13px;
    padding-left:25px;
    margin-bottom:3px;
    margin-top:10px;
    &:first-of-type{
      margin-top:30px;
    }
    &:last-of-type{
      margin-top:30px;
    }
  }
  $input-font-size:19px;
  $input-border:1px solid rgba(255,255,255,0.8);
  $input-color:rgba(255,255,255,0.9);
  $input-background:#222;
  $input-padding:12px 8px;
  input[type='text']{
    background:$input-background;
    color:$input-color;
    font-size:$input-font-size;
    border:$input-border;
    padding:$input-padding;
    @include border-radius(5px);

  }
  textarea{
    background:$input-background;
    color:$input-color;
    font-size:$input-font-size - 4;
    border:$input-border;
    padding:$input-padding;
    @include border-radius(5px);
    margin-left:24px;
    height:20px;
    min-height:20px;
    $width:545px;
    width:$width;
    max-width:$width;
    min-width:$width;
    font-family:"Arial",sans-serif;
  }
  .expression-area{
    width:100%;
    margin-left:-10px;
    .label{
      float:left;
      @include box-sizing;
      width:5%;
      p{
        color:rgba(255,255,255,0.6);
        margin:0px;
        text-align:center;
        font-size:30px;
        font-weight:100;
        margin-top:5px;
      }
    }
    .input-place{
      float:left;
      @include box-sizing;
      &:nth-of-type(2){
        width:80%;
      }
      &:nth-of-type(4){
        width:10%;
      }
      input{
        width:-moz-calc(100% - 16px);
        width:-webkit-calc(100% - 16px);
        width:calc(100% - 16px);
      }
    }
    &:after{
      @include clear-float;
    }
  }
  .match-place{
    $min-height:70px;
    font-size:$input-font-size;
    margin:0px 25px;
    @include border-radius(5px);
    width:562px;
    padding:0px 9px;
    min-height:$min-height;
    @include box-sizing;
    &.match-result{
      background:$input-background;
      color:$input-color;
      border:$input-border;
      p{
        @include word-break;
        .match-span{
          color:$yellow-font;
          display:inline-block;
          padding:1px 4px;
          margin:1px 0px;
          background:$yellow;
        }
      }
    }
    &.match-result-false{
      background:$red;
      p{
        margin:0px;
        line-height:$min-height;
        color:#fff;
      }
    }
  }
}
.help{
  $border:1px solid rgba(255,255,255,0.5);
  border-top:$border;
  border-bottom:$border;
  margin-top:40px;
  padding:12px 0px;
  &>p{
    text-align:center;
    font-size:16px;
    color:$blue;
    margin-top:0px;
  }
  table{
    width:100%;
    td{
      font-size:14px;
      color:rgba(255,255,255,0.6);
      padding:4px 0px;
      &.yellow{
        color:$yellow;
        text-align:right;
        padding-right:3px;
      }
    }
  }
}
.parameter-table{
  width:100%;
  table-layout:fixed;
  td{
    text-align:center;
    width:33%;
    color:lighten($red,10%);
    font-size:13px;
  }
}
.signature{
  color:rgba(255,255,255,0.5);
  text-align:center;
  font-size:13px;
  margin-bottom:0px;
  position:relative;
  bottom:-30px;
}
