<!DOCTYPE html>
<html ng-app='jrex'>
<head>
  <meta charset='utf-8'>
  <meta content="jrex,pptalent,javascript,regexp,js正则表达式，在线，测试" name="keywords">
  <link rel="shortcut icon" type="image/x-icon" href="img/fave-icon.png" />
  <title>J-Rex | check your javascript RexExp</title>
  <link rel="stylesheet" type='text/css' href='css/index.min.css'/>
  <script src="js/bundle.js"></script>
</head>
<body>
  <div class="wrap">
    <header>
      <h2>J-REX</h2>
      <h6>The boss won't be worried about my js RegExp ever</h6>
      <a class="logo"></a>
    </header>
     <div class="operate-area" >
         <p>Regular expression&nbsp;&nbsp;&nbsp;正则表达式</p>
         <div class="expression-area">
             <div class="label"><p>/</p></div>
             <div class="input-place"><input type='text'  ng-model="expression"/></div>
             <div class="label"><p>/</p></div>
             <div class="input-place"><input type='text' ng-model="suffix"/></div>
         </div>
         <p>Your test string&nbsp;&nbsp;&nbsp;要匹配的文字</p>
         <textarea ng-model="text"></textarea>
         <p>Match result&nbsp;&nbsp;&nbsp;匹配结果</p>
         <div id="wayne" wayne-pick wayne-expression={{expression}} wayne-text={{text}} wayne-suffix={{suffix}} ></div>
     </div>
     <div class="help">
         <p>JavaScript RegExp Reference&nbsp;&nbsp;&nbsp;符号说明</p>
         <table id="reference-table">
         </table>
     </div>
     <table class="parameter-table">
         <tr>
             <td>i: 执行对大小写不敏感的匹配</td>
             <td>g: 执行全局匹配</td>
             <td>m: 执行多行匹配</td>
         </tr>
     </table>
      <p class="signature">Designed by pptalent</p>
  </div>
</body>
</html>
