<!DOCTYPE html>
<html ng-app='jrex'>
<head>
  <meta charset='utf-8'>
  <title>J-Rex | check your javascript RexExp</title>
  <link rel="stylesheet" type='text/css' href='css/main.min.css'/>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/mustache/mustache.js"></script>
  <script src="js/main.js"></script>
  <script src="js/reference.js"></script>
</head>
<body>
  <div class="wrap">
    <header>
      <h2>J-REX</h2>
      <h6>The boss won't be worry about my js RegExp ever</h6>
      <a class="logo"></a>
    </header>
     <div class="operate-area" >
         <p>Regular expression&nbsp;&nbsp;&nbsp;正则表达式</p>
         <div class="expression-area">
             <div class="label"><p>/</p></div>
             <div class="input-place"><input type='text'  ng-model="expression"/></div>
             <div class="label"><p>/</p></div>
             <div class="input-place"><input type='text' ng-model="suffix"/></div>
         </div>
         <p>Your test string&nbsp;&nbsp;&nbsp;要匹配的文字</p>
         <textarea ng-model="text"></textarea>
         <p>Match result&nbsp;&nbsp;&nbsp;匹配结果</p>
         <div id="wayne" wayne-pick wayne-expression={{expression}} wayne-text={{text}} wayne-suffix={{suffix}} ></div>
     </div>
     <div class="help">
         <p>JavaScript RegExp Reference&nbsp;&nbsp;&nbsp;符号说明</p>
         <table id="reference-table">
         </table>
     </div>
     <table class="parameter-table">
         <tr>
             <td>i: 执行对大小写不敏感的匹配</td>
             <td>g: 执行全局匹配</td>
             <td>m: 执行多行匹配</td>
         </tr>
     </table>
      <p class="signature">Designed by pptalent</p>
  </div>
  <script>
      window.onload=function(){
          var table=document.getElementById("reference-table");
          var data={array:REFERENCE};
          var tableContent=Mustache.render("{{#array}}<tr>" +
                  "{{#.}}<td class='yellow'>{{code}}</td>" +
                  "<td>{{explain}}</td>{{/.}}" +
                  "</tr>{{/array}}",data);
          table.innerHTML=tableContent;
      }
  </script>
</body>
</html>
